<h2>Result</h2>
{% for category, item in nodes %}
    {{ category }} - $<span id="{{ category }}Total">0</span>
    <hr />
    {% for key, value in item %}
        {{ value.title }} - ${{ value.price }}
        <input style="margin-left: 10px" type="checkbox" category="{{ category }}" value="{{ value.price }}"/>
        <br />
    {% endfor %}
    <br />
{% endfor %}

<h3>Total: $<span id="total">0</span>/month</h3>

<br /> <br />

<h2> Your feedback is important to us </h2>

{{ form }}
{{ attach_library('calculator/style') }}