<h2>Result</h2>

{% for category, item in nodes %}
    {{ category }} - ${{ item.total }}
    <hr />
    {% for key, value in item %}
        {% if key != 'total' %}
            {{ value.title }} - ${{ value.price }}
            {% if (totalPeople > 1) and (category != 'Rent') %}
                * {{ totalPeople }}
            {% endif %}
            <br />
        {% endif %}
    {% endfor %}
    <br />
{% endfor %}

<h3>Total: ${{ total }} </h3>